.idea/
__pycache__/
data/DURel/
data/DURel_mangle/
data/SURel/
data/__MACOSX/
data/corporas/
data/durel_target_words.txt
data/english/
data/german/
data/latin/
data/rnc/
data/rnc_middle/
data/rnc_old/
data/russe/
data/surel_target_words.txt
data/swedish/
run_web_bts_rnc.sh
run_web_rumacro.sh
run_web_russe.sh
web/.idea/
web/maxari_cache/
web/pictures/
web/words_clusters.csv

