<!DOCTYPE html>
{#<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/analysis.css') }}">#}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/words.css') }}">
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Word analysis</title>
</head>
<body>
    <slant style="font-size:250%"><b>Target word - {{word}}</b></slant> <br>
    {% if mode != 'wsi' %}
        <slant style="font-size:150%"><b>Predicted - {{df.iloc[0]['labels'][0]}} <br> Golden label
             - {{df.iloc[0]['labels'][1]}}</b></slant> <br>
        {% if df.iloc[0]['decision_cluster'] != -1 %}
            <slant style="font-size:150%"><b>Decision made on cluster - {{df.iloc[0]['decision_cluster']}}</b></slant> <br>
        {% endif %}
    {% endif %}

    <div class="row">
        <div style="float:left;margin-right:3px;">
            <img src="{{ url_for('get_word_plot', path=wp_path) }}" alt="clusters distribution" style="width:47%">
            <img src="{{ url_for('get_dist_hist', path=dh_path) }}" alt="distances histogram" style="width:47%">
        </div>
    </div>

    <slant style="font-size:130%"><b>Jump to cluster: </b></slant><br>
    {% for i in range(df|length) %}
        <a href={{ "#cluster_%d" % i }}>{{ "cluster %d" % i }}</a><br>
    {% endfor %}
    <br><br>

    {% for label, row in df.iterrows() %}
        <section id={{"cluster_%d" % row['cluster']}}>

        <slant style="font-size:180%"><b>Cluster {{ label }}</b></slant>
        <table style="width:100%">
        <tr>
            <th colspan="2"><b><span style="color:#190D6A; font-size:120%;">Top P subst (sorted by P)</span></b></th>
        </tr>

        <tr>
            <th><b><span style="font-size:110%">Subcorpus 1:</b></th>
            {% if mode != "wsi" %}
                <th><b><span style="font-size:110%">Subcorpus 2:</b></th>
            {% endif %}
        </tr>

        <tr>
            <td>
                {% for p, c1, c2, w in row['top_words1_p'] %}
                    {% set pf = '%.4f' % p %}
                    {{pf}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                {% endfor %}
            </td>
        {% if mode != "wsi" %}
                <td>
                    {% for p, c1, c2, w in row['top_words2_p'] %}
                        {% set pf = '%.4f' % p %}
                        {{pf}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                    {% endfor %}
                </td>
        {% endif %}
        </tr>
        </table>

        <br>

        <table style="width:100%">
        <tr>
            <th colspan="2"><b><span style="color:#190D6A; font-size:110%;">Top PMI subst (sorted by PMI)</span></b></th>
        </tr>

        <tr>
            <th><b><span style="font-size:110%">Subcorpus 1:</b></th>
            {% if mode != "wsi" %}
                <th><b><span style="font-size:110%">Subcorpus 2:</b></th>
            {% endif %}
        </tr>

        <tr>
            <td>
                {% for p, c1, c2, w in row['top_words1_pmi'] %}
                    {% set pf = '%.4f' % p %}
                    {{pf}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                {% endfor %}
            </td>
        {% if mode != "wsi" %}
                <td>
                    {% for p, c1, c2, w in row['top_words2_pmi'] %}
                        {% set pf = '%.4f' % p %}
                        {{pf}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                    {% endfor %}
                </td>
        {% endif %}
        </tr>
        </table>

        <br>

        <table style="width:100%">
        <tr>
            <th colspan="2"><b><span style="color:#190D6A; font-size:110%;">Top-PMI subst first (sorted by P)</span></b></th>
        </tr>

        <tr>
            <th><b><span style="font-size:110%">Subcorpus 1:</b></th>
            {% if mode != "wsi" %}
                <th><b><span style="font-size:110%">Subcorpus 2:</b></th>
            {% endif %}
        </tr>

        <tr>
            <td>
                {% for p, pmi, c1, c2, w in row['top_words1_p_pmi'] %}
                    {% set pf = '%.4f' % p %}
                    {% set pmif = '%.4f' % pmi %}
                    p={{pf}}; pmi={{pmif}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                {% endfor %}
            </td>
        {% if mode != "wsi" %}
                <td>
                    {% for p, pmi, c1, c2, w in row['top_words2_p_pmi'] %}
                        {% set pf = '%.4f' % p %}
                        {% set pmif = '%.4f' % pmi %}

                        p={{pf}}; pmi={{pmif}} {{c1|int}}/{{c2|int}} - <b><span style="color:#190D6A">{{w}}</span></b>
                    {% endfor %}
                </td>
        {% endif %}
        </tr>
        </table>


        <br><br><br>
        <th colspan="2"><b><span style="color:#190D6A; font-size:150%;">Examples</span></b></th><br>
{#        EXAMPLES #}
	
        <th colspan="2"><b><span style="font-size=120%"> Corpus 1</span></b></th><br>
        {% for ex in row['examples_1'] %}
            <table style="width:100%">
                <tr>
                    <td> Context: </td> <td>{{ ex['cont']  }}</td>
                </tr>
                <tr>
                    <td> substs with probs </td>
                    <td>
                        {% for p, sub in ex['substs'][:50] %}
                            {{ '%.4f' % p|float }}:<b><span style="color:#190D6A">{{sub}}</span></b>;
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td> used substs </td>
                    <td>
                        {% for sub in ex['clean_substs'][:50] %}
                            <b><span style="color:#190D6A">{{sub}}</span></b>;
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}

        {% if row['examples_2']|length %}
            <th colspan="2"><b><span style="font-size=120%"> Corpus 2</span></b></th><br>
        {% endif %}

        {% for ex in row['examples_2'] %}
            <table style="width:100%">
                <tr>
                    <td> Context: </td> <td>{{ ex['cont']  }}</td>
                </tr>
                <tr>
                    <td> substs with probs </td>
                    <td>
                        {% for p, sub in ex['substs'][:50] %}
                            {{ '%.4f' % p|float }}:<b><span style="color:#190D6A">{{sub}}</span></b>;
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td> used substs </td>
                    <td>
                        {% for sub in ex['clean_substs'][:50] %}
                            <b><span style="color:#190D6A">{{sub}}</span></b>;
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <br>
        {% endfor %}

        <br><br><br>
        </section>

    {% endfor %}
</body>
</html>
