<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/words.css') }}">

<nav>
  <h1>Results</h1>
    <table style="width:100%">


     {% if mode == "wsi" %}
     <tr>
        <th><b>Target word</b></th>
        <th><b>Ari</b></th>
        <th><b>Count</b></th>
     </tr>      
     {% for word, (ari, count) in get_wsi_words_and_ari() %}
            <tr>
                <th><a href="{{ url_for('analyze', word=word) }}">{{ word }}</a></th>
                <th>{{ ari }}</th>
                <th>{{ count }}</th>
            </tr>
        {% endfor %}
      {% else %}
      <tr>
        <th><b>Target word</b></th>
        <th><b>Predicted label</b></th>
        <th><b>Groundtruth label</b></th>
      </tr>      
       {% for word, (label, golden_label) in get_words_and_labels() %}
             <tr>
                <th><a href="{{ url_for('analyze', word=word) }}">{{ word }}</a></th>
                <th>{{ label }}</th>
                <th>{{ golden_label }}</th>
            </tr>
        {% endfor %}
      {% endif %}
    </table>
</nav>
<section class="content">
  <header>
{#    {% block header %}{% endblock %}#}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
{#  {% block content %}{% endblock %}#}
</section>
